.advert {
  padding: 40px 0 28px;
}
.container {
  max-width: 296px;
  margin: 0 auto;
}
.advert-maininfo__picture {
  display: block;
  margin-bottom: 17px;
}
.advert-maininfo__title {
  color: #173414;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}
.advert-maininfo__way {
  display: inline;
  padding: 3px 9px;
  color: #212824;
  font-size: 16px;
  border-radius: 20px;
  font-weight: 400;
  background: #c4ef8e;
}
.advert-properties {
  margin-top: 15px;
  
}
.advert-properties__item {
  display: block;
}
.advert-properties__text{
  color: #173414;
  font-size: 16px;
  display: block;
  font-weight: 400;
}
.advert-properties__item + .advert-properties__item {
  margin-top: 8px;
}
.advert-discreption {
  margin-top: 16px;
}
.advert-discreption__title {
  color: #000;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 6px;
}
.advert-discreption__text {
  font-size: 16px;
  font-weight: 400;
}
.advert-userinfo{
  border-radius: 20px;
  background: #dfe6e1;
  padding: 15px 28px 15px 16px;
  display: flex;
  gap: 12px;
}
.advert-userinfo__svg {
  width: 100px;
  height: 100px;
}
.advert-userinfos__name {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
.advert-userinfos__adress {
  color: #686a67;
  font-size: 11px;
  font-weight: 600;
}
.advert-userinfos {
  width: 115px;
}
.advert-userinfo__contact {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  display: block;
  margin-top: 3px;
}
.advert-userinfo__contact + .advert-userinfo__contact {
  margin-top: 1px;
}
.advert-wishes {
  border-radius: 20px;
  background: #dfe6e1;
  padding: 11px 15px 14px 13px;
}
.advert-wishes__title {
  color: #000;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 10px;
}
.advert-user {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  margin-top: 16px;
}
.advert-wishes__text {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .advert {
    padding: 92.4px 0 30px;
  }
  .container {
    max-width: 692px;
  }
  .advert-maininfo {
    display: flex;
    gap: 14px;
  }
  .advert-maininfo__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 40px;
  }
  .advert-maininfo__picture {
    margin-bottom: 0;
  }
  .advert-maininfo__way {
    padding: 5px 16px 6px 12px;
    font-size: 24px;
  }
  .advert-properties {
    margin-top: 29px;
    height: 184px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 19px;
    column-gap: 11px;
  }
  .advert-properties__text{
    font-size: 21px;
  }
  .advert-properties__item + .advert-properties__item{
    margin-top: 0;
  }
  .advert-properties__text span {
    display: block;
  }
  .advert-discreption  {
    margin-top: 30px;
  }
  .advert-discreption__title {
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .advert-discreption__text {
    font-size: 26px;
  }
  .advert-user {
    flex-wrap: nowrap;
    gap: 43px;
    margin-top: 40px;
  }
  .advert-userinfo{
    padding: 26px 20px 25px 25px;
    gap: 15px;
  }
  .advert-userinfo__svg {
    width: 160px;
    height: 160px;
  }
  .advert-userinfos__name {
    font-size: 20px;
  }
  .advert-userinfos__adress {
    font-size: 14px;
  }
  .advert-userinfos {
    width: 150px;
  }
  .advert-userinfo__contact {
    font-size: 16px;
    margin-top: 6px;
  }
  .advert-userinfo__contact + .advert-userinfo__contact {
    margin-top: 6px;
  }
  .advert-wishes {
    padding: 22px 18px 57px 13px;
  }
  .advert-wishes__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .advert-wishes__text {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .advert {
    padding: 100px 0 51px;
  }
  .container {
    max-width: 1254px;
  }
  .advert-maininfo {
    gap: 59px;
  }
  .advert-maininfo__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 90px;
  }
  .advert-maininfo__way {
    padding: 5px 12px;
    font-size: 36px;
  }
  .advert-properties {
    margin-top: 41px;
    height: 296px;
    row-gap: 25px;
    column-gap: 109px;
  }
  .advert-properties__text {
    font-size: 32px;
  }
  .advert-discreption  {
    margin-top: 51px;
  }
  .advert-discreption__title {
    font-size: 64px;
    margin-bottom: 23px;
  }
  .advert-discreption__text {
    font-size: 40px;
    font-weight: 300;
  }
  .advert-user {
    gap: 100px;
    margin-top: 176px;
  }
  .advert-userinfo{
    padding: 34px 59px 32px 31px;
    gap: 23px;
  }
  .advert-userinfo__svg {
    width: 241px;
    height: 241px;
  }
  .advert-userinfos__name {
    font-size: 36px;
    margin-bottom: 23px;
  }
  .advert-userinfos__adress {
    font-size: 24px;
  }
  .advert-userinfos{
    width: 364px;
  }

  .advert-userinfo__contact {
    font-size: 24px;
    margin-top: 20px;
  }
  .advert-userinfo__contact + .advert-userinfo__contact {
    margin-top: 20px;
  }
  .advert-wishes {
    padding: 34px 36px 110px 33px;
  }
  .advert-wishes__title {
    font-size: 36px;
  }
  .advert-wishes__text {
    font-size: 28px;
  }
}
